
img{
  width: 400px;
}

#whatsapp{
  width: 40px;
}

#telegram{
  width: 40px;
}

#star{
  display:inline-block;
  width: 20px;
  float:left;
  padding-right:5px;
}

p{
  font-weight: bold;
  font-family: Helvetica;
  font-size: 18px;
}

#title{
  font-size: 30px;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/